PORT=8080

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB_NAME=social_network

REDIS_ADDR=redis:6379
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_IMAGE=redis:8-alpine
REDIS_CONTAINER_NAME=go-social-network-redis

JWT_SECRET_KEY="secretkey"